* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    max-width: 400px;
}

:root {
    --background-color: #1f2937;
    --h1-color: #f9faf8;
    --secondary-font-color: #e5e7eb;
    --primary-button-background: #3882f6;
}

body {
    background-color: var(--background-color);
}   

.header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}  

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    color: fff;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--h1-color);
}


.texto > p {
    font-size: 18px;
    color: var(--secondary-font-color);
    line-height: 1.2;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

button.botao-pri{
    padding: 10px 20px;
    border-radius: 8px;
    align-self: flex-start;
    background-color: var(--primary-button-background);
    color: var(--h1-color);
    font-weight: bold;
    font-size: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    margin-top: 10px;
    flex-basis: 600px;
}


